.App {
  width: 700px;
  display: flex;
  flex-direction: column;
  margin: auto;
  position: absolute;
  top: 20%;
  left: 20%;
  background-color: #e3e3e3;
  padding: 8px;
}

.title {
  font-size: 26px;
  margin: 30px auto;
  color: #e06e41;
  font-weight: 600;
  text-align: center;
}